html{
    background-color: #1e1e1e;
    color: #fff;
    font-size: 62.5%;
}

body{
    
}

footer,
section {
    padding: 5rem;
    max-width: 96rem;
    margin: 0 auto;
}

footer {
    flex-direction: column;
}

h2 {
    font-size: 4rem;
    font-weight: 700;
}

.inspecionar {
    border: 5px solid red;
}

.itens-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav {
    /*padding espaçamento para dentro da borda / borda para dentro aceita até quatro valores no sentido horário*/
    padding: 2rem 6rem;
}

.nav-links {
    /*display flex responsavel por definir como os itens vão estar sendo mostrado na pagina (flex - encaixa todos os eventos de forma flexível*/
    display: flex;
    /*Responsavel por dizer como os elementos vão estar justificados dentro da pagína*/
    justify-content: flex-end;
    /*define os espaços entre elementos de um display flexível*/
    gap: 1rem;
    font-size: 1.8rem;
}

.nav-links a {
    color: #FFFFFF;
    /*text-decoration none remove a linha embaixo do link*/
    text-decoration: none;
}

.main {
    margin-bottom: 5rem;
}

.avatar {
    border-radius: 100%;
    width: 24rem;
    height: 24rem;
    margin-right: 10rem;
}

.main-title{
    font-size: 4rem;
}

.main-description{
    margin: 4rem 0;
}

.button {
    border-radius: 0.2rem;
    background-color: #0039CC;
    padding: 1REM 2REM;
    color: ffffff;
    text-decoration: none;
}

.project{
    margin: 4rem 0;
}

.project-image{
    width: 24rem;
    height: 24rem;
    margin-right: 2.5rem;
    border-radius: 0.6rem;
}

.project-title {
    font-size: 3rem;
}

.footer-social{
    display: flex;
    gap: 2rem;
}

@media (max-width: 1200px){
    .itens-center{
        flex-direction: column;
    }

    footer,
    section {
        padding: 5em;
    }

    .main{
        margin-bottom: 2rem;
    }

    .main-title {
        font-size: 3rem;
    }

    .project-image{
        width: 38rem;
        height: auto;
    }
    .nav-links {
        justify-content: center;
    }

    .avatar{
        width: 18rem;
        height: 18rem;
    }
}
p{
    font-size: 25px;
}
div{
    font-size: 25px;
}
a{
        font-size: 25px;}
